<ul class="list-group">

    <li class="d-flex justify-content-between align-items-center" *ngFor="let cliente of clientes">
        <div class="card mb-3">
            <div class="card-header">
                {{cliente.cli_motorista}}
                {{cliente.cli_pj_razao_social ? "("+cliente.cli_pj_razao_social+")" : ""}}
                {{cliente.cli_pj_telefone ? "- "+cliente.cli_pj_telefone:""}}
            </div>
            <div class="card-body">
                <!-- ENDEREÇO -->
                <p class="card-text">
                    {{cliente.cli_endereco ? cliente.cli_endereco+", "+cliente.cli_numero+" - "+cliente.cli_bairro+",
                    "+cliente.cli_cidade+"/"+cliente.cli_estado : "Sem endereço cadastrado"}}
                </p>

            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                {{cliente.cli_pj_razao_social ? cliente.cli_pj_razao_social:"NOME EMPRESA"}}
            </div>
            <div class="card-body">
                <!-- EMPRESA -->
                <div class="row">
                    <div class="form-group col-6">
                        <span for="responsavel" class="fw-bold">Responsável</span>
                        <div class="card-text" id="responsavel">
                            {{cliente.cli_pj_responsavel ? cliente.cli_pj_responsavel:"RESPONSAVEL"}}
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <span for="resp_telefone">Telefone</span>
                        <div class="card-text" id="resp_telefone">
                            {{cliente.cli_pj_telefone | phone}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- ENDEREÇO -->
                    <div class="form-group col-12">
                        <span for="endereco">Endereço</span>
                        <div class="card-text">
                            {{cliente.cli_endereco ? cliente.cli_endereco+", "+cliente.cli_numero+" -
                            "+cliente.cli_bairro+",
                            "+cliente.cli_cidade+"/"+cliente.cli_estado : "SEM ENDEREÇO"}}
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="form-group col-6">
                        <span for="motorista" class="fw-bold">Motorista</span>
                        <div class="card-text" id="motorista">
                            {{cliente.cli_motorista}}
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <span for="motorista">Telefone</span>
                        <div class="card-text">
                            {{cliente.cli_motor_telefone | phone}}
                        </div>
                    </div>
                </div> -->



            </div>
        </div>
    </li>

</ul>