<table class="table-cli-list table table-hover  ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NOME</th>
            <th scope="col">CNPJ/CPF</th>
            <th scope="col">TELEFONE</th>
            <th scope="col">TIPO</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let cli of clientes" (dblclick)="selectCliente($event, cli.cli_id, content)">
            <td>{{cli.cli_id}} </td>
            <td>{{cli.cli_tipo=="CPF" ? cli.cli_pf_nome:cli.cli_pj_razao_social}}</td>
            <td>{{cli.cli_tipo=="CPF" ? cli.cli_cpf:cli.cli_cnpj}} </td>
            <td>{{cli.cli_tipo=="CPF" ? cli.cli_pf_telefone:cli.cli_pj_telefone}}</td>
            <td>{{cli.cli_tipo}}</td>
            <td (click)="edit(cli.cli_id)"><i class="fas fa-pencil-alt"></i></td>
            <td><i class="fas fa-times-circle"></i></td>
        </tr>
    </tbody>

</table>

<ng-template #content let-modal>

    <div class="modal-body">
        <app-cliente-form [cli_id]="cli_id"></app-cliente-form>
    </div>
</ng-template>