$primary: #FF6E30;
$secondary: #748FB5;
$dark: #1E252B;
$light: #EEEEEE;

$main: #FAA87A;
$second: #969DB1;
$aditional: #74777E;
$dark-variation: #273038;

$valid:#4bbf73;
$valid-hover:#3ca861;
$invalid:#d9534f;
$invalid-hover:#d23430;